.order-table {
	/*height: 100%;*/
	width: 100%;

}
/* .ant-table-thead>tr>th, .ant-table-tbody>tr>td {
	padding: 0 16px !important;
	margin: 0;
	line-height: 0;
	height: 54px;
	max-width: 450px;
	white-space: nowrap !important;
} */
.order-table .ant-table-header-column .ant-table-column-title {
	height: 54px;
	line-height: 54px;
}
.ant-table-tbody>tr>td {
	/*max-width: 350px !important;*/
}
.ant-table-fixed {
	width: auto !important;
}
.ant-table-fixed-left {
	/*width: 100px;*/
}
.ant-table-fixed-left table {
	/*width: 100% !important;*/
}
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	border-radius: 7px;
	background-color: #eee;
}
::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #29b87a;
}