html, body, #root, .ant-layout {
	height: 100%;
	width: 100%;
}
#root {}
@import '~antd/dist/antd.css';
.ant-table-body {
	max-height: calc(100vh - 225px) !important;
	min-height: calc(100vh - 225px) !important;
}