body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.pb10 {
	padding-bottom: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.mb15 {
	margin-bottom: 15px;
}