.flex{
    display: flex;
}
.shrink0{
    flex-flow: 0;
}
.flex1{
    flex-grow: 1;
}
.txright{
    text-align: right;
}
.mr15 {
    margin-right: 15px;
}
// 搜索页
.search{
    .search-box{
        width: 360px;
    }
    .ant-btn + .ant-btn {
        margin-left: 12px;
    }
}
